/* CSS - ABOUT US */
/* -------------- */
/* -------------- */
/* -------------- */

#about-us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 5% 10%;
  background-color: var(--background-light);
}

#about-us-1 {
  grid-area: 1 / 1 / 1 / 3;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(57,35,24,0.1023984593837535) 30%), url(../images/restaurant_1.jpg);
  
}
#about-us-2 {
  grid-area: 1 / 3 / 2 / 3;
}
#about-us-3 {
  grid-area: 2 / 1 / 3 / 2;
}
#about-us-4 {
  grid-area: 2 / 2 / 3 / 4;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(57,35,24,0.1023984593837535) 30%), url(../images/chef_2.jpg);
  background-size: cover;
}

#about-us-2,
#about-us-3 {
  background-color: var(--background-dark);
  color: var(--text-light);
}

.about-us-img,
.about-us-text {
   padding: 10px;
  height: calc(100vw / 4);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #about-us  {
    display: flex;
    flex-direction: column;
  }
  .about-us-img,
  .about-us-text {
    padding: 10px;
    height: 100%;
    max-height: 1024px;
  }

  .about-us-img {
    height: 256px;
  }
}