:root{
 /*
 Definición de variables reutilizables
 se utilizan tal que:
    propiedad : var(--text-dark)
 
 */
 --text-dark: #000;
 --text-light: #fff;
 --background-light: #F8F4EF;
 --background-dark: #bcb2a8;
 --accent-light: #6B533D;
 --accent-dark: #392318;
}

/*
 Utilizar el main si se quiere tener headers y footers que ocupen toda la longitud.
 Si no utilizar el body como selector css
*/
main {
    margin: 0 10%;
    background-color: var(--background-light);
}