/* El siguiente código establece los estilos de la página de cartas.html*/



.card-title{
  font-family: Rubik;
}
.card-body{
  font-family: 'Nunito Sans';
  background-color: var(--background-dark);
}
#cartas{
  background-color: var(--background-light);
}
body{
  background-color:var(--background-light);
}

.card {
  width: 18rem;
  height: 30rem;
}

/* El siguiente código establece los estilos de los botones del accordion*/


.custom-button {
  font-family: Rubik;
  background-color: var(--background-light) !important;
  outline: none;
  box-shadow: none;
}

.custom-button:focus { 
  border-color: var(--accent-light);
border: 0.2px  solid rgb(107,83,61,0.5);
  box-shadow: none !important;
}
.accordion-body{
  background-color: var(--background-light) !important;
}

.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border: none;
}

/* Código para garantizar responsiveness*/ 

@media (max-width: 1024px) {
  .card {
    margin-top: 30px;
  }
}
