.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--background-dark);
  color: var(--text-light);
}

.header-img-logo {
  width: 25%;
}

.header-links {
  font-size: 2rem;
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-links li {
  display: inline;
}

.header-links a {
  color: var(--text-dark);
  text-decoration: none;
  font-size: 1em;
}

.header-links a:hover {
  color: var(--text-light);
}

.header-menu {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.header-menu:hover {
  color: var(--text-light);
}

@media (max-width: 768px) {
  .header-links {
      display: none;
      flex-direction: column;
      gap: 15px;
      position: absolute;
      top: 1rem;
      right: 0rem;
      background-color: var(--background-dark);
      padding: 1rem;
      border-radius: 0 0 0 1rem;
  }

  .header-links.show {
      display: flex;
  }

  .header-menu {
      display: block;
      color: var(--text-dark);
  }
}
