#reservas {
	margin: auto;
	display: grid;
	place-items: center;
	grid-template-columns: auto auto;
	width: 90%;
	gap: 20px;
}
#tablaCalendario {
	scale: 1.3;
}
#calendario {
	align-self: center;
}
#tablaLeyenda {
	margin: auto;
	height: auto;
	width: 90%;
}
ul {
	list-style-type: none;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	gap: 20px;
	background-color: #bcb2a8;
}
#leyendaClosed::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: black;
	margin-right: 10px;
	border: 1px solid;
}
#leyendaFull::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #835139;
	border: 1px solid;

	margin-right: 10px;
}
#leyendaAvaliable::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: white;
	margin-right: 10px;
	border: 1px solid;
}
#tablaCalendario > caption {
	font-weight: 600;
}

th {
	border: 1px solid black;
	text-align: center;
}

#tablaCalendario tr > td {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}
.dayPast {
	color: rgb(179, 177, 177);
	background-color: white;
}
.dayToday {
	background-color: rgb(179, 177, 177);
}
.dayFull {
	background-color: #835139;
	color: white;
}
.dayClosed {
	background-color: black;
	color: rgb(179, 177, 177);
}
.dayAvaliable {
	color: black;
}
.dayAvaliable:hover {
	background-color: #bcb2a8;
	cursor: pointer;
}

#formulario {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	padding: 20px;

	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

#numGente {
	width: 50px;
}
label {
	font-weight: bold;
	margin-bottom: 8px;
}
/* 
Código tirado de https://uiverse.io/e-coders/new-shrimp-32 */
button {
	appearance: none;
	background-color: transparent;
	border: 0.125em solid #1a1a1a;
	border-radius: 0.9375em;
	box-sizing: border-box;
	color: #3b3b3b;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 3.75em;
	min-width: 0;
	outline: none;
	padding: 1em 2.3em;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
}

button:disabled {
	pointer-events: none;
}

button:hover {
	color: #fff;
	background-color: #6b533d;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

button:active {
	box-shadow: none;
	transform: translateY(0);
}

/*Código tirado de  https://uiverse.io/anniekoop/nasty-impala-89*/
.input {
	border: 1.5px solid #000;
	border-radius: 0.5rem;
	box-shadow: 1.5px 2px 0 #000;
	outline: none;
	transition: ease 0.25s;
}

.input:focus {
	box-shadow: 3px 4px 0 black;
}
textarea {
	resize: none;
}
#formulario {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	gap: 10px;
	align-items: center;
	text-align: center;
}
#dataHoraDiv,
#correoNumeroDiv,
#comentarioDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	text-align: center;
	margin-bottom: 5px;
}

.input {
	margin-bottom: 15px;
}

#buttonDiv {
	display: flex;
	justify-content: center;
}
